<h1>Editing Player Character</h1>

<%= render 'form', player_character: @player_character %>

<%= link_to 'Show', @player_character, class: "btn btn-dark" %> |
<%= link_to 'Back', player_characters_path, class: "btn btn-dark" %>
